.expense-screen {
  display: none;
}

.expense-screen-active {
  display: block;
}

.expense-quantity {
  color: #62b9b2;
  font-size: 22px;
  font-weight: normal;
}

body.dark-mode .expense-quantity {
  color: #d6dbdf;
}

.clear-all-button-container {
  display: flex;
  justify-content: center;
}

.clear-all-button {
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
  color: #f2f5f9;
  background-color: #d44b42;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

.clear-all-button:hover {
  cursor: pointer;
  background-color: #ce2216;
}

.clear-all-button:active {
  opacity: 0.8;
}

body.dark-mode .clear-all-button {
  background-color: #94261e;
}

.entries-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #1f2937;
}

.entries-grid {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

@media (min-width: 900px) {
  .entries-grid {
    max-width: 94vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  }
}

.entry-item-container {
  background-color: #fff;
  /* outline: 2px solid; */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  padding: clamp(0.6rem, 2.5vw, 0.8rem);
  border-radius: 8px;
  opacity: 1;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

body.dark-mode .entry-item-container {
  background-color: #031922;
}

.entry-item-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.fade-out {
  opacity: 0;
}

.entry-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.3rem;
  align-items: center;
}

.label,
.value {
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.label {
  color: #6b7280;
}

body.dark-mode .label {
  color: #97a1b4;
}

.value {
  color: #111827;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

body.dark-mode .value {
  color: #ced5db;
}

.amount {
  color: #1f2937;
  font-weight: 500;
}

body.dark-mode .amount {
  color: #d8d9da;
}

.high-amount {
  color: #d45c17;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(0.6rem, 2.5vw, 0.9rem);
}

.category {
  text-align: center;
  padding: 0.3rem 2rem;
  border-radius: 5px;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
  font-weight: 500;
  background-color: #e5f0ff;
}

body.dark-mode .category {
  background-color: #0a2a33;
  border: 1px solid #1b4d5a;
}

.category.food {
  color: #4ade80;
}

body.dark-mode .category.food {
  color: #3fbf8e;
}

.category.transport {
  color: #60a5fa;
}

body.dark-mode .category.transport {
  color: #3b82f6;
}

.category.entertainment {
  color: #b057f8;
}

body.dark-mode .category.entertainment {
  color: #9d50db;
}

.category.shopping {
  color: #f8e15d;
}

body.dark-mode .category.shopping {
  color: #c5b247;
}

.category.bills {
  color: #29669b;
}

body.dark-mode .category.bills {
  color: #428ccc;
}

.category.health {
  color: #4ea0f1;
}

body.dark-mode .category.health {
  color: #448bd3;
}

.category.other {
  color: #e6744b;
}

body.dark-mode .category.other {
  color: #c4623e;
}

.delete-button,
.edit-button {
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.delete-button {
  background-color: transparent;
  border: 2px solid #d44b42;
  color: #d44b42;
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
}

.edit-button {
  background-color: #0f766e;
  color: #f2f2f2;
  border: none;
}

.delete-button:hover {
  color: #f2f2f2;
  background-color: #d44b42;
}

.edit-button:hover {
  background-color: #0a5852;
  color: #f2f2f2;
  border-color: #f2f2f2;
}

.no-expense-alert {
  font-weight: 500;
  font-size: 25px;
  color: #9c9c9c;
  text-align: center;
  margin-top: 100px;
}

.confirmation-dialogue,
.expense-screen .expense-grid {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border-radius: 8px;
  padding: clamp(0.8rem, 2.5vw, 1rem);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.edit-dialogue,
.confirmation-dialogue {
  display: none;
}

.confirmation-dialogue {
  color: #111827;
  font-weight: 400;
  font-size: 17px;
}

body.dark-mode .confirmation-dialogue,
body.dark-mode .expense-screen .expense-grid {
  background-color: #0b3d4b;
  color: #ced5db;
}

.dialogue-buttons,
.entry-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 5vw;
  grid-column: 1/3;
  justify-content: space-between;

  margin-top: 1.5rem;
}

.confirmation-dialogue button,
.expense-screen .expense-grid button {
  padding: .4rem 1rem;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-dialogue button:active,
.edit-dialogue-container button:active {
  opacity: 0.8;
}

.yes-button {
  border: 2px solid #d44b42;
  background-color: transparent;
  color: #d44b42;
  transition: all 0.2s ease;
}

.cancel-button {
  border: 2px solid #d44b42;
  color: #d44b42;
  background-color: transparent;
  transition: all 0.2s ease;
}

.save-button {
  color: #fff;
  background-color: #0f766e;
  border: none;
  transition: all 0.3s ease;
}

.save-button:hover {
  background-color: #045a53;
}

body.dark-mode .cancel-button {
  color: #f77a71;
}

body.dark-mode .cancel-button:hover {
  background-color: #022230;
}

.yes-button:hover,
.cancel-button:hover {
  background-color: #d44b42;
  color: #f2f2f2;
}

.no-button {
  background-color: #0f766e;
  color: #f2f2f2;
  border: 1px solid #0f766e;
  transition: all 0.3s ease;
}

body.dark-mode .no-button {
  background-color: #0a5164;
  border-color: #09637c;
  color: #ced5db;
}

.no-button:hover {
  background-color: #0f766e;
  border-color: #f2f2f2;
}

body.dark-mode .no-button:hover {
  border-color: #09637c;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 998;
}

body.dark-mode .overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-active {
  display: block;
}

.edit-alert {
  background-color: #fff;
  color: #d44b42;
  border-radius: 4px;
  z-index: 1000;
  position: fixed;
  right: -200px;
  top: 70px;
  padding: 10px 30px;
  transition: transform 0.6s ease;
}

.edit-alert.active {
  transform: translateX(-210px);
  opacity: 1;
}

.download-button {
  position: fixed;
  bottom: 10vh;
  right: 2vw;
  padding: 0.8rem;
  border-radius: 50%;
  background-color: #0f766e;
  border: none;
  transition: all 0.3s ease;
  z-index: 1000;
}

.download-button:active {
  transform: scale(0.95);
}

.download-button:hover {
  cursor: pointer;
  background-color: #108178;
}

.inactive {
  display: none;
}

.download-button:hover::before {
  visibility: visible;
}

/* Define the shake animation */
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(8px);
  }
}

/* Apply animation only on page load */
.download-button {
  animation: shake-vertical 0.8s ease-in-out;
  /* Animation runs once automatically, then stops */
}

.expense-screen svg {
  stroke: #f3f5f9;
}

.download-button::before {
  content: "Download CSV";
  position: absolute;
  top: -3rem;
  right: 50%;

  background-color: #0974bb;
  color: #fff;
  padding: 5px 8px;
  border-radius: 13px 18px 0px 11px;
  opacity: 0.6;
  font-size: 0.8rem;

  visibility: hidden;

  transition: all 0.3s ease;
  z-index: 1000;
  pointer-events: none;
}

@media (max-width: 768px) {
  .entries-grid {
    max-width: 75vw;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }

  .entry-item {
    grid-template-columns: 2fr 1.5fr;
  }
}

@media (max-width: 500px) {
  .entries-title {
    margin-bottom: 0.5rem;
  }

  .clear-all-button {
    padding: 0.4rem 1rem;
  }

  .delete-button,
  .edit-button,
  .confirmation-dialogue button,
  .expense-screen .expense-grid button {
    padding: 0.2rem 0.8rem;
  }
}
