body.dark-mode {
  background-color: #001219;
}

body.dark-mode h2,
body.dark-mode h1 {
  color: #60288f;
}

.left-header-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dashboard-title {
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
}

body.dark-mode .dashboard-title {
  color: #d6d6d6;
}

.dashboard-illustration {
  font-size: 14px;
  font-weight: normal;
  color: #64748b;
}

.right-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.expenses-link {
  width: 100px;
  border-radius: 6px;
  padding: 2px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #2e2e2e;
}

.expenses-link:hover {
  border: 2px solid #0f766e;
}

body.dark-mode .expenses-link {
  color: #cccbcb;
}

.expenses-icon {
  height: 30px;
}

.change-theme-button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
}

.content-area {
  display: grid;
  grid-template-columns: 1.6fr 1.4fr;
  column-gap: 3vw;
}

.title h1 {
  justify-self: center;
  color: #1f2937;
}

.month-pill-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.month-pill-container::before,
.month-pill-container::after {
  content: "";
  height: 1px;
  background-color: #dbdee2;
  flex: 1;
  position: relative;
  margin-top: calc(0.675rem + 1rem);
}

body.dark-mode .month-pill-container::before,
body.dark-mode .month-pill-container::after {
  background-color: #64748b;
}

.month-pill {
  background-color: #dcf0f0;
  color: #0f766e;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.5rem 1.7rem;
  margin: 0.675rem 0;
  border-radius: 2em;
  white-space: nowrap;
  flex-shrink: 0;
}

body.dark-mode .month-pill {
  background-color: #0a2a33;
}

.expense-details,
.total-expenditure {
  border-radius: 10px;
  background-color: #fff;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.expense-details {
  width: 100%;
  align-self: start;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.total-expenditure {
  padding: 1.5rem 2rem;
  position: relative;
}

.total-expenditure h2 {
  font-size: 1.8rem;
}

.total-expenditure::after {
  content: "";
  height: 1px;
  position: absolute;
  right: 1rem;
  left: 1rem;
  bottom: -0.1rem;
  background-color: #c8d5e7;
}

body.dark-mode .total-expenditure::after {
  background-color: #64748b;
}

body.dark-mode .expense-details,
body.dark-mode .right-panel,
body.dark-mode .total-expenditure,
body.dark-mode .recents-container {
  background-color: #031922;
}

.add-expense-button {
  width: 100%;
  margin: 20px auto 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #0f766e;
  color: #f2f2f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease opacity 0.3s ease transform 0.3s ease;
}

.add-expense-button:hover {
  cursor: pointer;
  background-color: #007269;
}

.add-expense-button:active {
  opacity: 0.9;
  transform: scale(0.99);
}

.added-to-tracker img {
  height: 20px;
}

.added-to-tracker {
  color: #06965a;
  font-size: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  /* this will be visible once we click the add button */
  opacity: 1;
  position: absolute;
  left: 10rem;
  right: 10rem;
}

.is-added-to-tracker {
  opacity: 1;
}

.empty-field-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.empty-field-warning {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  color: #f44336;
}

body.dark-mode .empty-field-warning {
  color: #c03429;
}

.total-expenditure h2 {
  text-align: center;
  margin-bottom: 8px;
}

.analytics-icon {
  height: 30px;
}

.analysis-title {
  margin-top: 40px;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.period-total {
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 18px;
  column-gap: 15px;
}

.period {
  font-size: 18px;
  font-weight: 500;
  color: #111827;
}

body.dark-mode .period {
  color: #cccbcb;
}

.cost,
.recent-expense-cost {
  font-size: 18px;
  font-weight: 500;
  color: #3063aa;
}

body.dark-mode .cost {
  color: #2b5999;
}

.chart-container {
  height: 220px;
}

.chart-container canvas {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.recents-container {
  height: 20vh;
  padding: 1rem;
  background-color: #fff;
  margin: 0;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* Firefox: thumb color | track color */
  scrollbar-color: rgba(88, 93, 97, 0.2) transparent;
  scrollbar-width: thin;
}

body.dark-mode .recents-container h4 {
  color: #d6d5d5;
}

/* WebKit (Chrome/Safari) */
.recents-container::-webkit-scrollbar {
  width: 8px;
}

.recents-container::-webkit-scrollbar-track {
  background: transparent; /* Makes the track blend in */
}

.recents-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle grey thumb */
  border-radius: 20px;
  border: 2px solid transparent; /* Creates a 'floating' gap */
  background-clip: content-box;
}

.recents-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.recents-container h4 {
  text-align: center;
}

.recent-expense {
  position: relative;
}

.recent-expense:not(.recent-expense:first-of-type)::before {
  content: " ";
  height: 1px;
  background-color: #c9d8f5;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}

body.dark-mode .recent-expense:not(.recent-expense:first-of-type)::before {
  background-color: #4f5766;
}

body.dark-mode .recent-expense-description {
  color: #d6d5d5;
}

.recents-container .date {
  color: #99a2b6;
  font-size: 0.9rem;
  font-weight: normal;
  display: block;
  margin-bottom: 0.2rem;
}

.recents-container .date-no {
  color: #99a2b6;
}

.recent-expense-details {
  display: flex;
  justify-content: space-between;
}

.recent-category {
  display: flex;
  align-items: center;
  gap: .3rem;

  color: #f2f2f2;
  font-size: 0.9rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.9rem;
}

.recent-category svg {
  stroke: #fff;
  height: 20px;
  width: 20px;
}

.recent-food-category {
  background-color: #3bb184;
}

body.dark-mode .recent-food-category {
  background-color: #206d50;
}

.recent-transport-category {
  background-color: #3a7de7;
}

body.dark-mode .recent-transport-category {
  background-color: #163f81;
}

.recent-entertainment-category {
  background-color: #9049ca;
}

body.dark-mode .recent-entertainment-category {
  background-color: #4e1979;
}

.recent-shopping-category {
  background-color: #beb41d;
}

body.dark-mode .recent-shopping-category {
  background-color: #77700b;
}

.recent-bills-category {
  background-color: #3c7eb8;
}

body.dark-mode .recent-bills-category {
  background-color: #1d578a;
}

.recent-health-category {
  background-color: #3c7ec0;
}

body.dark-mode .recent-health-category {
  background-color: #11375c;
}

.recent-other-category {
  background-color: #a55133;
}

body.dark-mode .recent-other-category {
  background-color: #7e371e;
}

.right-side {
  display: flex;
  gap: 1rem;
}

@media (max-width: 800px) {
  .content-area {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    margin-bottom: 20px;
  }

  .left-panel {
    display: contents;
  }

  .recents-container {
    order: 1;
    align-self: end;
  }

  label {
    font-size: 18px;
  }

  input,
  select {
    width: 100%;
  }

  .period,
  .cost {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0px 12px;
  }

  .left-header-section {
    gap: 7px;
  }

  .left-header-section svg {
    height: 30px;
    width: 30px;
  }

  .dashboard-title {
    font-size: 14px;
  }

  .dashboard-illustration {
    font-size: 12px;
  }

  .header .expenses-icon {
    height: 28px;
  }

  .header .expenses-link {
    font-size: 14px;
  }

  .title h1 {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .content-area {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    max-width: 400px;
    row-gap: 40px;
  }

  .expense-details,
  .total-expenditure {
    padding: 10px;
  }

  .expense-grid {
    column-gap: 16px;
  }

  label {
    font-size: 16px;
  }

  input::placeholder {
    font-size: 13px;
    color: #adadad;
  }

  .expense-details .added-to-tracker {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .period-total .period,
  .period-total .cost {
    font-size: 14px;
  }

  .period-total .period {
    /* ellipsis  */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .total-expenditure {
    margin-top: -20px;
  }

  .center-label {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 0px 6px;
  }

  .content-area {
    padding: 12px;
    column-gap: 10px;
    width: 90vw;
  }

  input,
  select {
    width: 100%;
  }

  .expense-grid {
    grid-template-columns: 1fr 2fr;
  }

  .total-expenditure h2 {
    font-size: 18px;
  }

  .total-expenditure .period {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .header {
    padding-right: 0px;
  }

  .expenses-link {
    width: 80px;
    margin: 0px;
  }

  .expenses-icon {
    height: 20px;
  }

  .expenses-link span {
    font-size: 12px;
  }

  .left-header-section {
    gap: 1px;
  }

  .dashboard-title {
    font-size: 12px;
  }

  .dashboard-illustration {
    font-size: 9px;
  }

  .total-expenditure h2 {
    font-size: 16px;
  }

  .total-expenditure .period {
    font-size: 10px;
  }
}
